In [1]:
import random
import sys
import pandas as pd
import geopandas as gpd

r_path = "../../src/utils/"
sys.path.append(r_path)

from load_data import load_dataframes as ld
from read_shapefiles import read_files

In [2]:
path_shapefiles, regions, provinces, territories, municipalities, crs = read_files.read_shapefile_data(r_path+'read_shapefiles/', 'shape_files_path.json')
df_mun = read_files.read_shapefiles_in(False, path_shapefiles, municipalities, crs)

In [7]:
df_mun.head()

,COD_REG,COD_CM,COD_PRO,PRO_COM,COMUNE,NOME_TED,FLAG_CM,SHAPE_Leng,SHAPE_Area,geometry
0,1,201,1,1001,AgliÃ¨,None,1,16097.848335,1.330696e+07,"POLYGON ((7.782661506487098 45.38717348792787,..."
1,1,201,1,1002,Airasca,None,1,16684.218595,1.595353e+07,"POLYGON ((7.487945576588677 44.93917423248852,..."
2,1,201,1,1003,Ala di Stura,None,1,29892.862842,4.575251e+07,"POLYGON ((7.273242274488666 45.33927257253476,..."
3,1,201,1,1004,Albiano d'Ivrea,None,1,16192.656544,1.103356e+07,"POLYGON ((7.925073009129796 45.44820877115636,..."
4,1,201,1,1005,Alice Superiore,None,1,18083.459633,7.508489e+06,(POLYGON ((7.801108281461889 45.47363618970111...

In [8]:
df_mun['centroid'] = df_mun.centroid

In [15]:
df_mun = df_mun.loc[:,['PRO_COM','COMUNE','centroid']]

In [23]:
def point_to_lat(df_row):
    return df_row['centroid'].y

def point_to_lon(df_row):
    return df_row['centroid'].x

In [25]:
df_mun['lat'] = df_mun.apply(point_to_lat,1)
df_mun['lon'] = df_mun.apply(point_to_lon,1)

In [27]:
df_mun = df_mun.loc[:,['PRO_COM','COMUNE','lat','lon']]

In [33]:
df_mun = df_mun.rename(columns={"PRO_COM": "pro_com", "COMUNE": "comune"})

In [34]:
df_mun.to_csv("../../viz/comune_centroids.csv",index=False)